* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 20px;
    flex-direction: column;

}

#box{
    height: 300px;
    width: 400px;
    background-color: red;
    border-radius: 20px;
    
}

button{
    padding: 10px,5px;
    height: 30px;
    width: 70px;
    font-weight: 300;
    font-size:medium;
    background-color: rgb(64, 65, 64);
    border-radius: 5px;
    border: none;

}

button:active {
transform: scale(0.9); 
}