* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, grey,black);
    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    font-family: monospace;
    font-size: 30px;
    font-weight: 300;
    color: white;
}