*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: apple;
    src: url(https://www.apple.com/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.woff2);
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    
}
#nav{
    width: 100%;
    height: 60px;
    background-color: rgb(21, 21, 21);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;

    
    
}

#nav h4{
    
    font-family: apple;
    color: white;
    font-weight: 5;
    padding: 30px;
    font-size: 30;
    
    
}
#centre {
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-size: cover;

    
}
#centre img{
    object-fit: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

}
#centre button{
    position: absolute; 
    align-items:flex-end;
    background-color: rgb(11, 98, 205);
    border-radius: 40px;
    font-size: 35px;
    padding: 10px 20px;
    color: white;
    border: none;
    margin-top: 20%;
    

    

}