* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.card{
    height: 300px;
    width: 500px;
    background-color: rgb(243, 167, 242);
    border-radius: 10px;
    border: none;
    padding: 30px;
}
h1{
    font-weight:500;
    font-size: 35px;
}

.outer{
    height: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-top: 50px;

}
.inner{
    height: 100%;
    border-radius: 50px;
    background-color: rgb(59, 191, 59);

}

.bottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    /* background-color: crimson; */
    
    
}
.bottom  .button{
    background-color: rgb(159, 166, 243);
    /* border: 5px black; */
    height: 40px;
    padding: 10px ;
    border-radius: 10px;
    margin-top: 20px;
    border: none ;


}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
